/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-jun-2020, 18:57:01
    Author     : CRIS
*/

     nav#menuNav a:nth-of-type(4){
                background-color: #BFF378;
                color: white;
          }


main span{
	text-align: center;
	display: block;
	background-color: rgba(244,121,147,1);
	width: 50%;
	margin: 0.2em auto;
	border-radius: 5px;
	padding: 0.2em;
	font-weight: bold;
	color: rgba(249,247,247,1.00);
}

main form + div{
	margin-top: 2em;
}

main form > *{
	background-color: rgba(17,33,45,1.00);
	color:white;
	padding: 0.3em;
	border: 0;
	border-bottom: 2px solid rgba(249,247,247,1.00);
	border-top: 2px solid rgba(249,247,247,1.00);
	transition: all 0.6s;
}

main form > *:hover{
	background-color: rgba(27,54,74,1.00);
}

main form select{
	padding: 0.33em 0.2em;
	margin-top: 0.01em;
}

main form input:nth-child(2){
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-left: 2px solid rgba(249,247,247,1.00);
}

main form input[type="submit"]{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 0.3em 1em;
	border: 2px solid rgba(249,247,247,1.00);
	background-color: rgba(26,7,16,1.00);
}

main form input[type="submit"]:hover{
	cursor: pointer;
	background-color: rgba(19,31,2,1.00);
}